.row-content {
    display: flex;
    margin-top: 50px;

    .categories-title {
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-1;
        margin-bottom: $m-4;
    }

    // START STYLE COL-SIDEBAR
    .col-sidebar {
        width: 250px;
    }

    .widget{
        margin-bottom: 30px;
        .widget__title{
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;

            background-color: $seccond-bg-color;
            color: #fff;
            padding: $p-1 $p-3;
            line-height: 1;
        }

        .widget__content{
            border: 1px solid $boder-color-1;
            padding: $p-2 $p-3;
            font-size: 1.4rem;

            .sub-categories{
                padding-bottom: $p-0;
                margin-bottom: $m-1;
                border-bottom: 1px solid $boder-color-1;
                cursor: pointer;
                
                &:hover{
                    color: $color-0;
                    border-color: $color-0;
                }
            }  
        }

        .banner-advertisement{
            display: block;
            margin-bottom: $m-4;
        }
    }



    // START STYLE COL-MAIN
    .col-main {
        flex-grow: 1;
        margin-left: $m-4;
        width: calc(100% - 270px);
    }

    .categories-sort {
        background-color: $boder-color-1;
        padding: $p-2 $p-3;
        button {
            color: $color-2;
            font-size: 2rem;
            margin-right: $m-1;
            background-color: transparent;
        }

        button.active {
            color: $color-0;
        }

        .select-wrapper {
            background-color: transparent;
            min-width: 0;
            padding: 0;

            &:first-child {
                margin-right: 40px;
            }

            .select-result {
                background-color: #fff;
                border: 1px solid $color-2;
                border-radius: 25px;
                padding: $p-0 40px $p-0 $p-1;

                font-size: 1.4rem;
            }

            .icon-sortdown::after {
                transform: translate(-8px, -50%);
            }
        }
    }

    .product-list {
        margin: $m-4 0;
    }

    .product-list.list-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        border-bottom: 1px solid $boder-color-1;

        .product-item {
            font-size: 1.3rem;

            .product-item__title {
                a {
                    white-space: normal;
                    display: block;
                    width: 100%;
                }
            }

            .product-item__action {
                button {
                    @include define_btnIcon(32px, 1.5rem);
                }
            }
        }
    }

    .product-list.list-row {
        .product-item {
            display: flex;
            .product-item__thumb {
                width: 220px;
            }
            .product-item__desc {
                text-align: left;
                margin-left: $m-3;
                width: calc(100% - 236px);
            }

            .product-item__comment,
            .product-item__add-review,
            .product-item__short-desc {
                font-size: 1.3rem;
                font-weight: normal;
                line-height: 1.5;
            }

            .product-item__comment {
                border-right: 1px solid $color-1;
                padding-right: $p-3;
                margin: 0 $m-3;
            }

            .product-item__action {
                opacity: 1;
                position: initial;
                transform: translate(0, 20px);
                width: auto;

                padding: 0 $m-4;

                button{
                    min-width: 120px;
                    box-sizing: content-box;
                    display: block;
                    font-size: 1.3rem;

                    padding: 0 $p-3;

                    &:nth-child(2){
                        margin: $m-2 0;
                    }

                    &:hover{
                        border-color: $color-0
                    }
                }
            }
        }
    }
}
