$color-0 : #fe7900;
$color-00 : #fe7b005b;
$color-1 : #000;
$color-2 : #bdbdbd;
$color-3 : #484d51;
$color-4 : #fff;
$color-40 : rgba(255, 255, 255, .5);
$color-41 : rgba(255, 255, 255, .1);
$color-5 : #202020;
$color-6 : #333;
$color-7 : #666;
$color-8 : #FFAE00;
$color-9 : #f8f8f8;
