$color-0 : #ce181e; // Main color
$color-00 : rgba(206, 24, 30, 0.55);
$color-1 : #ffffff;
$color-2 : #777;
$color-3 : #272727;
$color-4 : #37383a;
$color-5 : #181818;
$color-50 : rgba(0,0,0,.7);
$color-6 : #272626;

$fw-0 : 400;
$fw-1 : 600;
$fw-2 : 700;
