.our-services--item{
    text-align: center;
    img{
        margin-bottom: 20px;
    }

    &:nth-child(3){
        img{
            position: relative;
            transform: translateX(25%);
        }
        
    }
}