.parallax{
    background-image: url(./../../images/home-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin: 50px 0;
    min-height: 500px;
    position: relative;

    svg.parallax--top{
        
        position: absolute;
        bottom: 0;
    }

    svg.parallax--bottom{
        position: absolute;
        transform: rotateX(180deg);
    }
}