.our-services{
    .our-service--thumb{
        position: relative;
        a{
            display: block;
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
    
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                transition: background-color .3s cubic-bezier(.4,.87,.4,.87);
            }
    
            &:hover::after{
                background-color: rgba(0,0,0,.2);
            }
        }

        img{
            display: block;
            width: 100%;
        }

        
    }

    .our-service--title{
        .number{
            color: $primary-color;
            font-family: Merriweather,serif;
            font-style: italic;
            margin-right: 15px;

            display: inline-block;
            font-size: 60px;
            letter-spacing: -3px;
            font-weight: 400;
        }
    }
}