.blog{
    .container-fluid{
        padding: 0 3rem!important;
    }


    .blog__thumb{
        img{
            width: 100%;
            height: 270px;
            object-fit: cover;
        }
    }

    .blog__text{
        color: rgba(255, 255, 255, .5);

        .blog__time{
            font-size: 1.4rem;
            span{
                margin-right: $distance-0;
            }

            span.icon{
                margin-right: 2px;
            }
        }

        .blog__title{
            color: $text-main-color;
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: capitalize;

            &:hover{
                color: $text-primary-color;
            }
        }

        .blog__desc{
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.8;
        }
    }

    .blog-content__nav{
        text-align: center;

        li{
            display: inline-block;
            height: 45px;
            width: 45px;
            border: 1px solid $primary-bg;

            border-radius: 50%;
            line-height: 45px;
            text-align: center;
            font-size: 2rem;

            margin: 0 $distance-0;

            a{
                display: block;
            }
            
            &:hover{
                background-color: $primary-bg;
                color: $text-main-color;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .blog__item{
        margin-bottom: 6.5rem;
    }
}

@media screen and (max-width: 567px){
    .blog{
        .blog-content__nav{
            
    
            li{
                
                height: 32px;
                width: 32px;
                line-height: 32px;
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 499px){
    .blog{
        .container{
            padding: 0;
        }
    }
}

