.footer{
    background-color: #120f0f;
    padding: 7rem 0;

    a:hover{
        color: $primary-bg;
    }

    .copyright{
        font-size: 1.5rem;
        text-align: center;
        color: rgba(255, 255, 255, .7);
        line-height: 1.5;
    }

    .container-fluid{
        padding: 0 3rem!important;
    }
}

.footer__content{
    .widget{
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 5rem;
        h6{
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }

        li{
            margin-bottom: $distance-2;

            .icon{
                font-size: 2rem;
                margin-right: $distance-2;
            }
        }
    }

    .social-icon{
        a{
            display: inline-block;
            height: 50px;
            width: 50px;
            text-align: center;

            line-height: 55px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            font-size: 2rem;

            margin-right: $distance-1;
            transition: all .4s;

            &:hover{
                box-shadow: 0 0 20px rgba(255, 255, 255, .5);
            }

            &.facebook:hover{
                background-color: #3b5999;
            }
            &.twitter:hover{
                background-color: #55acee;
            }
            &.instagram:hover{
                background-color: #e4405f;
            }
        }
    }
}


@media screen and (max-width: 567px){
    .footer{
        .container-fluid{
            padding: 0 1.5rem!important;
        }
    }
}

@media screen and (max-width: 399px){
    .footer{
        .container-fluid{
            padding: 0 .5rem!important;
        }
    }
}