.header{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__content{
    padding: $distance-4 0;
}

.header__logo{
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-weight: 400;

    small{
        display: block;
        font-size: 1.2rem;
        letter-spacing: 5px;
    }
}

.header__navbar{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    

    li{
        display: inline-block;
        padding: $distance-0 0;
        position: relative;

        &:last-child{
            padding-right: 0;
        }

        .cart{
            position: relative;
        }

        .number{
            background-color: $primary-bg;
            position: absolute;
            display: block;
            width: 28px;
            height: 28px;

            top: -20px;
            right: -20px;
            text-align: center;
            line-height:28px;

            border-radius: 50%;
        }
    }

    li.nav-link{

        &>a{
            position: relative;
            display: block;
            padding: $distance-0 $distance-4;
            *{
                position: relative;
                z-index: 1;
            }


            &::after{
                content: '';
                display: block;
                width: 80%;
                height: 1px;
                transition: height .4s;

                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $primary-bg;

                z-index: -1;
            }
        }

        &:hover>a{
            &::after{
                height: 100%;
            }
        }
    }

    li.toggle-sub-menu{
        position: relative;

        a{
            &::after{
                transform: translateX(-38%);
            }
        }

        span.icon-down{
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-right: 3px solid #fff;
            border-bottom:3px solid #fff;
            border-left:6px solid transparent;

            position: absolute;
            top: 50%;
            right: 5px;
            transform: rotate(45deg) translate(-65%, -61%);
        }

        .sub-menu{
            display: none;

            position: absolute;
            width: 160px;
            top: 100%;
            left: 0;

            background-color: #0D0D0D;
            font-size: 1.3rem;
            text-transform: capitalize;

            border-top: 8px solid #000;
            border-bottom: 8px solid #000;

            li{
                display: block;
                padding: $distance-1 $distance-4;

                &:hover{
                    color: $text-primary-color;
                }
            }
        }

        &:hover{
            .sub-menu{
                display: block;
            }
        }
    }

    
}

.toggle-menu{
    display: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: transparent;

    color: rgba(255, 255, 255, 0.8);

    .icon{
        font-size: 2rem;
    }
    .icon-cross{
        display: none;
    }
}


@media screen and (max-width: 991px){
    .header{
        position: relative;
        .header__navbar{
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #000;
            width: 100%;

            padding: $distance-2 0 $distance-4;
            min-height: 100vh;
            display: none;

            li{
                display: block;
                text-align: center;
                padding: $distance-2 0;
                position: relative;

                a{
                    display: inline-block
                    ;
                }

                &:hover{
                    color: $text-primary-color;
                }
                &:hover::after{
                    background-color: $primary-bg;
                }

                &::after{
                    content: '';
                    display: block;
                    width: 50%;
                    height: 1px;
                    background-color: rgba(255, 255, 255, .1);

                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            li.toggle-sub-menu{
                position: relative;

                span.icon-down{
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-right: 3px solid #fff;
                    border-bottom:3px solid #fff;
                    border-left:6px solid transparent;
        
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: rotate(45deg) translate(-65%, -61%);
                }

                &:hover{
                    span.icon-down{
                        border-right: 3px solid $primary-bg;
                        border-bottom:3px solid $primary-bg;
                    }

                    .sub-menu{
                        display: block;
                    }
                    
                }

                .sub-menu{
                    position: initial;
                    width: 100%;
                    
                    li{
                        width: 50%;
                        margin: 0 auto;
                    }
                }
        
                
            }
        }
    }
    

    .toggle-menu{
        display: inline-block;
    }
}

@media screen and (max-width: 567px){
    .header{
        padding: 0 15px;
    }
}

