.our-feature{
    background-color: $primary-bg;
}

.our-feature__item{
    text-align: center;
    color: #000;

    .our-feature__item--thumb{
        width: 100px;
        height: 100px;
        display: inline-block;
        border: 1px solid #000;

        position: relative;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        
    }

    h6{
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #000;
        margin: 2rem 0;
    }

    p{
        display: inline-block;
        font-size: 1.5rem;
        width: 95%;
        color: #1d150b;
        font-weight: 100;
    }
}

@media screen and (max-width: 767px){
    .our-feature__item{
        margin-bottom: 4rem;
    }
}