.parallax{
    min-height: 300px;

    @include backgroundImage(url(./../../images/bg-5.jfif), cover, center, no-repeat);

    background-attachment: fixed;
    position: relative;

    .overlay{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
}