.time-open{
    background-color: #000;

    .time-open__content{
        position: relative;
    }

    .time-open__box{
        align-items: flex-start;
        font-size: 1.7rem;

        span.icon{
            margin-right: $distance-3;
            font-size: 2rem;
            color: $text-primary-color;
        }

        span:not(.icon){
            font-weight: 400;
        }

        p{
            line-height: 1.3;
            color: rgba(255, 255, 255, .5);
        }
    }

    .time-open__box.form{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;

        background-color: $primary-bg;
        width: 100%;
        
        .contact__form{
            padding: 3rem 2.5rem;

            .form-group{
                font-size: 1.4rem;
            }
        }

        h6{
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        button{
            background-color: $text-main-color;

            &:hover{
                background-color: #000;
                color: $text-main-color;
            }
        }
    }
}