.breadcrumb{
    color: $primary-color;
    font-family: 'Merriweather',serif;
    font-style: italic;
    font-size: 15px;

    font-weight: 400;
    line-height: 1em;

    .breadcrumb-item{
        display: inline-block;
        margin-right: 3px;

        &::after{
            content: '/';
            margin-left: 6px;
        }

        &:last-child::after{
            content: '';
        }

        &:hover{
            color: $main-color;
        }
    }
}