.product-add-cart{
    justify-content: flex-start;
    border-bottom: 2px solid #efefef;
    padding-bottom: 35px;
    .form-group--amount{
        input{
            height: 50px;
            width: 50px;
            padding: 0;
            background-color: #eae7de;

            text-align: center;
            color: #000;
            font-size: 18px;
            line-height: 50px;
            font-weight: 600;
        }

        span{
            line-height: 25px;
            font-size: 18px;
        }

        .btn-increase{
            padding-right: 16px;
            padding-left: 16px;
        }
        .btn-decrease{
            padding-left: 16px;
            padding-right: 16px;
            margin-right: 12px;
        }

        button:hover{
            color: $primary-color;
        }

    }

    .coffee-btn{
        height: 50px;
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;

        background-color: $primary-color;
        &:hover{
            background-color: $main-color;
        }
    }


}

form.form-book-table{
    font-family: 'Merriweather',serif;
    input{
        padding: 18px 15px;
        font-style: italic;
        color: $main-color;
        font-weight: 600;

        box-sizing: border-box;
        background-color: #fff;
        height: 50px;

        &::placeholder{
            color: $main-color;
        }
    }

    span.form-book-table--icon{
        background-color: #fff;
        display: inline-block;
        line-height: 44px;

        font-size: 22px;
        color: $primary-color;
        width: 50px;
        height: 50px;
        text-align: center;


    }

    span.form-book-table--label{
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
    }
}