.post{
    display: flex;
    margin-bottom: 50px;

    &--image{
        width: 40%;
        margin-right: 4%;

        a{
            display: block;
            img{
                width: 100%;
            }

            &:hover{
                opacity: .8;
            }
        }
    }

    &--text{
        width: 56%;

        &__title{
            margin-bottom: 11px;
            &:hover{
                color: $primary-color;
            }
        }

        &__info{
            color: $primary-color;
            font-style: italic;
            font-size: 13px;
            line-height: 14px;
    
            margin-bottom: 30px;
            font-family: 'Merriweather', serif;
    
            div{
                display: inline-block;
            }
    
            a:hover{
                color: #333;
            }
    
            &--author::after,
            &--categories::after{
                content: '/';
                margin: 0 7px;
            }
        }
    }
}