.breadcrumb-box{
    background-color: #f5f5f5;
    padding: 64px 0;
    margin-bottom: 50px;
}

.accordition-toggle{
    margin-bottom: 40px;
    .accordition-span{
        padding: 8px 40px;
        line-height: 50px;
        color: #000;
        font-size: 18px;

        font-weight: 600;
        font-family: Merriweather,serif;
        font-style: italic;
        border: 1px solid #efefef;

        margin-bottom: 25px;

        label{
            color: $primary-color;
            cursor: pointer;
        }
    }

    .accordition-toggle--box{
        min-height: 68px;
        max-height: 68px;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    &>input[type=checkbox]{
        display: none;
    }

    &>input[type=checkbox]:checked~.accordition-toggle--box{
        max-height: 500px;
    }

    .form-group{
        margin: 15px 0;
    }

    
}

.confirm-info{
    form.form-info-invoice{
        margin-top: 20px;
    }
}

.confirm-invoice{
    margin-top: 50px;
    margin-bottom: 50px;

    h3{
        margin-bottom: 30px;
    }

    .detail-invoice{
        border: 1px solid #efefef;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #efefef;
    }

    .left, .right{
        flex: 1;
        padding: 15px 7px 15px 30px;
    }

    .left{
        font-weight: 600;
        color: $main-color;
        border-right: 1px solid #efefef;
    }

    .right{
        font-size: 18px;
        font-weight: 500;
        font-family: Merriweather,serif;
    }

    .detail-invoice__body{
        .row:last-child{
            border-bottom: 1px solid #efefef;
        }
    }

    .detail-invoice__footer{
        .row{
            border: none;
        }

        .left{
            font-size: 18px;
        }
    }
}
