.coming-soon-page{
    background-image: url(./../../images/coming-soon-b-img-1.jpg);
    background-size: cover;
    background-position: center;
    height: 625px;
    

    .header{
        overflow: hidden;
        padding: 16px 0;
        border-bottom: none;

        &__content{
            padding: 0 25px;
        }
        &--logo{
            width: 96px;
        }
        input{
            display: none;
        }

        .toggle{
            position: relative;
        
            height: 30px;
            width: 30px;
            display: block;

            cursor: pointer;
        }
        
        .toggle span{
            display: block;
            width: 30px;
            height: 3px;
            position: absolute;
        
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
        
            transition: .5s;
            box-shadow: 0 2px 2px rgba(0,0,0,.2);
        }
        
        .toggle span:nth-child(1){
            transform: translate(-50%, -50%) translateY(-10px);
            transition: .2s;
        }
        
        .toggle span:nth-child(4){
            transform: translate(-50%, -50%) translateY(10px);
            transition: .2s;
        }
        
        
        #toggle-menu:checked~.toggle span:nth-child(1){
            transform: translate(-50%, -50%) translateY(-35px);
            opacity: 0;
        }
        
        #toggle-menu:checked~.toggle span:nth-child(4){
            transform: translate(-50%, -50%) translateY(35px);
            opacity: 0;
        }
        
        
        #toggle-menu:checked~.toggle span:nth-child(2){
            transform: translate(-50%, -50%) rotate(45deg);
            transition-delay: .2s;
        }
        
        #toggle-menu:checked~.toggle span:nth-child(3){
            transform: translate(-50%, -50%) rotate(-45deg);
            transition-delay: .2s;
        }
    }

    .coming-soon__content{
        padding-top: 40px;

        .coming-soon--title{
            font-family: 'Oswald';
            font-size: 98px;
            line-height: 1;
            font-weight: 600;

            letter-spacing: 2px;
            text-transform: Uppercase;
            color: #fff;
            margin: 20px 0 40px;

            position: relative;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translateX(-50%);

                display: block;
                width: 120px;
                height: 2px;
                background-color: $primary-color;

            }
            
        }

        .count-down{
            color: #fff;
            width: 40%;
            margin: 0 auto;

            .count-down--number, .count-down--label{
                display: block;
            }

            .count-down--number{
                font-size: 80px;
                line-height: 1.2;
                font-weight: 800;
                font-family: 'Oswald';
            }

            .count-down--label{
                font-size: 18px;
                font-weight: 100;
                font-style: italic;
                font-family: 'Merriweather',serif;
            }
        }
    }
}