.product-detail{
    align-items: flex-start;
    .product-images{
        width: 47%;
        margin-right: 4%;
    }
    .product-summary{
        width: 49%;
    }

    .product-thumb{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .product-lst-images{
        margin-top: 10px;
        .product-item--image{
            width: 95px;
            height: 95px;
        }
    }

    .product-title{
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .product-rate__box{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .product-rate--text{
            color: #666;
            margin: 0 0 0 15px;
        }
    }

    .product-price{
        margin-top: 20px;
        font-size: 35px;
        font-weight: 700;
    }

    .product-meta{
        font-size: 15px;
        font-family: 'Oswald',sans-serif;
        padding: 35px 0;
        border-bottom: 2px solid #efefef;

        &:last-child{
            border: none;
        }

        .product-meta__item{
            display: table-row;
        }
        label{
            display: table-cell;
            width: 120px;
            color: $main-color;
            font-weight: 700;
            text-transform: uppercase;
        }
        .lst-share-icon{
            li{
                display: inline-block;
                color: #757575;
                font-size: 14px;
                margin: 0 8px;

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }

    .product-tabs{
        border-bottom: 2px solid #efefef;
        border-top: 2px solid #efefef;
        padding: 60px 0 35px;
        text-align: center;

        .product-nav__item{
            display: inline-block;

            a{
                display: block;
                padding: 13px 0;
                font-size: 19px;
                font-weight: 700;

                text-transform: uppercase;
                border-bottom: 2px solid #efefef;

                h4{
                    padding: 0 25px;
                    border-right: 2px solid #efefef;
                }
            }

            &:last-child{
                a{
                    h4{
                        border: none;
                    }
                }
            }
        }

        .product-tab__item{
            padding: 27px 50px;

            h2{
               font-size: 18px;
               margin-bottom: 35px; 
               letter-spacing: 1px;
               text-align: left;
            }
        }
    }

    table{
        width: 100%;
        tbody{
            tr{
                border: 1px solid  #efefef;
            }

            th, td{
                padding: 16px 7px;
            }

            th{
                border-right: 1px solid #efefef;
            }
        }
    }

    .cmt-list{
        .cmt-item{
            border-bottom: 2px solid #efefef;
            padding-bottom: 35px;
            margin-bottom: 20px;
        }
        .cmt-item__content{
            text-align: left;

            .cmt-item--text{
                flex: 1;
            }

            img{
                margin-right: 24px;
                border-radius: 50%;
                width: 83px;
                height: 83px;
            }

            .author{
                font-size: 18px;
                line-height: 1;
            }

            .time{
                font-size: 12px;
                color: $primary-color;
                font-family: 'Merriweather',serif;
                font-style: italic;
            }

            p{
                margin-top: 10px;
            }
        }
    }
}