.offer__content{
    column-gap: 50px;
    row-gap: 30px;
    .offer--item{
        display: flex;
        align-items: flex-start;

        .offer-img{
            margin-right: 15px;
            svg{
                width: 42px;
                height: 45px;
            }
            
        }

        .offer-text{
            h4{
                margin-top: 10px;
            }
        }
    }
}

.offer-grid-image{
    gap: 0;
    .grid-image--img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 18% 40px 16% 50px;

        .grid-image--content.text-white{
            .barista-read-more, h2, p{
                color: #fff!important;
            }

            p{
                margin: 40px 0 30px;
            }
        }

        .grid-image--content{
            .barista-read-more{
                color: $main-color!important;
            }
        }
    }
}

