.gallery-film {
    ul {
        margin: 0;
        list-style-type: none;
    }

    #filter-list {
        display: inline-block;
        border: 1px solid #dddddd;
        border-radius: 30px;
        padding: 4px;

        margin: 0 0 60px;
    }

    #filter-list li {
        display: inline-block;
        font-size: 16px;
        color: #888888;
        text-transform: uppercase;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        font-weight: 500;
        padding: 0 20px;
        min-width: 130px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #filter-list li.active,
    #filter-list li:hover {
        background-color: $color-2;
        color: #fff;
    }
    .gallery-outer {
        width: 100%;
        height: auto;
        padding: 0 1px;
    }

    .gallery-items li {
        width: 33.333333%;
        float: left;
        padding: 0 1px 2px;
        transition: all 0.5s;
        cursor: pointer;

        .gallery-inner {
            display: block;
            width: 100%;
            float: left;
            position: relative;

            margin-bottom: 20px;
            padding: 15px;
            box-shadow: 0 1px 10px #dbdbdb;
        }

        .gallery-thumb {
            overflow: hidden;
            background-color: #000;
            border-radius: 4px;
            margin-bottom: 12px;

            position: relative;
        }

        .age-box{
            background-color: $color-2;
            color: $color-3;
            position: absolute;
            top: 0;
            left: 0;

            font-size: 26px;
            font-weight: 700;
            transform-origin: center;
            transform: rotate(-45deg) translate(-24%, -45px);

            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .diagonal-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            a {
                display: block;
                width: 45px;
                height: 45px;
                background-color: $color-2;

                color: $color-3;
                box-shadow: 0 0 5px $color-3;
                font-size: 20px;
                line-height: 45px;

                text-align: center;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                transition: all 0.5s;
                z-index: 10;
                opacity: 0;
            }

            &:hover {
                a {
                    transition-delay: 1s;
                    opacity: 1;
                }

                a:nth-of-type(1) {
                    transform: translate(-220%, -50%);
                }

                a:nth-of-type(2) {
                    transform: translate(-50%, -220%);
                }

                a:nth-of-type(3) {
                    transform: translate(120%, -50%);
                }

                a:nth-of-type(4) {
                    transform: translate(-50%, 120%);
                }
            }

            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                height: 1px;
                width: 0;
                background-color: $color-3;
                box-shadow: 0 0 10px $color-3;

                transform-origin: center;
            }
        }

        &:hover {
            .diagonal-box::before {
                transition: transform 0.5s 0.5s, width 0.5s;
                width: 90%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            .diagonal-box::after {
                transition: transform 0.5s 0.5s, width 0.5s;
                width: 90%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        .film-name {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;

            font-size: 20px;
            line-height: 1.1;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            letter-spacing: 1px;

            color: $color-1;
        }

        img {
            width: 100%;
            height: 360px;
            object-fit: cover;
            -webkit-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            opacity: 0.4;
        }

        &:hover {
            img {
                transform: scale(1.3);
            }
        }
    }
}
