*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	background-color: #363636;
	color: #CFCFCF;
}
.header{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background: url(images/topbackground.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.header__text{
	width: 100%;
	height: 100%;
	position: absolute;
}
.header:before{
	content: '';
	position: absolute;
	z-index: 30;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(transparent, #fff);
}
.header__text h3{
	color: white;
	font-size: 120px;
}
.header__text span{
	color: #FFC125;
}
.header__text h1{
	color: white;
	font-size: 120px;
}
.header .clouds{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}
.header .clouds img{
	position: absolute;
	bottom: 0;
	max-width: 100%;
	animation: maybay calc(3s * var(--i)) linear infinite;
}
.fontpoppins{
	font-family: 'Poppins', sans-serif;
}
.fontsofia{
	font-family: 'Sofia', cursive;
}
.fontgrenze{
	font-family: 'Grenze Gotisch', cursive;
}
.fontkristi{
	font-family: 'Kristi', cursive;
}
.fontbrush{
	font-family: 'Alex Brush', cursive;
}
.fontsancreek{
	font-family: 'Sancreek', cursive;
}
.navbar-brand{
	font-size: 35px;
	font-weight: bold;
	padding: 35px 0;
	display: inline-block;
	height: auto;
}

.myNav ul {
    padding-top: 25px;
    padding-right: 90px;
}

a.navbar-brand {
    margin-right: 90px;
}
.myNav li:not(:last-child):hover{
	background-color: #FFC125;
}
li a.btn.btn-warning.datban{
	border: 0;
	border-radius: 0;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 35px;
	animation: 3s lenxuong linear infinite;
}
li a.btn.btn-warning.datban:hover{
	animation: 0s lenxuong linear infinite;
	box-shadow: 3px 0px 12px 1px #dda72ade;
}
@keyframes lenxuong{
	0%{
		transform: translateY(0);
	}
	33%{
		transform: translateY(-10px);
	}
	66%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(0px);
	}
}
.myNav .btn-menu{
	border: 0;
	background: 0;
}

.tittle3{
	font-size: 150px;
}


@keyframes maybay{
	0%{
		opacity: 0;
		transform: scale(1);
	}
	25%, 75%{
		opacity: 1
	}
	100%{
		opacity: 0;
		transform: scale(3);
	}
}

.myNav .nav a {}

.navbar-nav>li>.dropdown-menu {
    font-size: 18px;
    margin-top: 10px;
    padding: 0 30px;
}
.slide{
	margin-top: -300px;
}
.best-seller:before, .slide:before{
	content: '';
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(#fff, transparent);
}

.slide .item img{
	width: 100%;
	height: 80vh;
	object-fit: cover;
}
.muangay{
	border: 1px solid white;
	color: #CD9B1D;
	opacity: 0.5;

}
.muangay:hover{
	border: 1px solid #CD9B1D;
	color: white;
	background-color: #CD9B1D;
	opacity: 1;
	transition: 0.3s;
}

.best-seller{
	position: relative;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(images/bestseller.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
	box-sizing: border-box;
}
.best-seller .best-seller__content{
	width: 100%;
	height: 100%;
	position: absolute;
	padding-left: 250px;
	padding-top: 110px;
}
.best-seller .best-seller__content h3{
	font-size: 19px;
	color: #1a205b;
}
.best-seller .best-seller__content h1{
	font-size: 35px;
	font-weight: bold;
	color: #e2e5ff;
}
.best-seller .best-seller__content span{
	font-size: 23px;
	font-weight: bold;
	color: #fff3f0;
}
.best-seller .buynow{
		margin-top: 30px;
}
.menuMain__item{
	padding-top: 120px;
	box-sizing: border-box;
	height: auto;
}
.quotes{
	width: 100%;
	height: 50rem;
	position: relative;
	background-color: transparent;
}
.quotes .quotes__content{
	position: absolute;
	color: #D7D7D7;
	width: 100%;
	height: 100%;
}
.quotes__content h2{
	font-size: 80px;
	padding: 20px 0;
}
.quotes__content p{
	font-size: 25px;
	word-spacing: 5px;
	padding: 0px 60px;
}

.menuMain{
	width: 100%;
	height: auto;
	position: relative;
}
.menuMain__item {
	width: 100%;
	height: auto;
}
.menuMain__item .row .menu__anh{
	position: relative;
	height: auto;
}
.menu__anh .menu__anh__info{
	position: absolute;
	bottom: 0;
}
.menuMain__item .menu__anh img{
	width: 100%;
	height: 1000px;
	object-fit: cover;
}
.menuMain__item .menu__mon{
	background-color: #C0C0C0;
}
.menu__mon__chitiet{
	width: 100%;
	height: 100%;
	margin-top: 30px;
}
.menu__mon__chitiet .anh1mon img{
	width: 100%;
	height: 50px;
	object-fit: cover;
}
.menu__mon h2 {
    color: white;
    font-size: 40px;
    padding-top: 10px;
}
.menu__mon span {
    color: white;
    font-size: 14px;
}
.ten1mon{
	color: #1C1C1C;
}
.ten1mon .tenmon{
	font-size: 14px;
	margin-top: -2px;
	text-transform: uppercase;
}
.menu__mon__chitiet .gia1mon{
	color: white;
	font-weight: bold;
	font-size: 16px;
}
.motmon{
	margin-bottom: 20px;
}
.menu__anh__info{
	opacity: 0.65;
}
.menu__anh__info h1{
	color: white;
	font-size: 70px;
	font-weight: bold;
	padding-left: 95px;
	box-sizing: border-box;
}
.menu__anh__info p, .menu__anh__info span{
	color: white;
	font-size: 22px;
	font-weight: bold;
	padding-left: 125px;
	box-sizing: border-box;
}
.menu__anh__info span{
	color: red;
}
.vem{
	padding-right: 80px;
}
.note{
	color: #1C1C1C;
	padding-left: 50px;
	padding-top: 10px;
}
.note .sauces__list{
	border-left: 5px solid #1C1C1C;
	padding-left: 30px;
	padding-right: 80px;
	box-sizing: border-box;
}
.note h3{
	font-weight: bold;
}

.menu__anh #bobam h1, .menu__anh #bobam p, .menu__anh #bobam span{
	padding-right: 80px;
}
#lastnote{
	margin-top: 142px;
	padding-bottom: 20px;
}
.wine{
	width: 100%;
	height: auto;
	margin-top: 80px;
	position: relative;
}

.wine h1{
	font-size: 120px;
	color: #C2C2C2;
}
.wine h1 .bottle{
	animation: 8s rotnuoc linear infinite;
}
@keyframes rotnuoc{
	0%{
		transform: translateY(0);
		transform: rotateY(0);
	}
	25%, 75%{
		transform: translateY(-120px);
		transform: rotateZ(25deg);
	}
	100%{
		transform: translateY(0);
		transform: rotateY(0)
	}
}
.wine h1 .glass{
	font-size: 40px;
	margin-left: -20px;
	color: #C2C2C2;
	animation: 4s moveLeft linear infinite;
}
@keyframes moveLeft{
	0%{
		transform: rotateZ(0);
	}
	50%{
		transform: rotateZ(-25deg);
	}
	100%{
		transform: rotateZ(0);
	}
}
.wine .filterWine{
	margin-bottom: 20px;
}
.listWine .bottleWine{
	width: 100%;
	height: 450px;
	background-color: white;
	position: relative;
	color: black;
	text-align: center;
	perspective: 900px;
	box-shadow: 0 0 7px 4px #a39595;
    perspective: 900px;
    box-sizing: border-box;
}
.listWine .motchairuou{
	margin-bottom: 20px;
}

.bottleWine .mattruoc img{
	width: 100%;
	height: 320px;
	object-fit: cover;
	top: 0;
	left: 0;
}
.bottleWine:hover .matsau {
    transform: rotateY(0deg);
}

.bottleWine:hover .mattruoc {
    transform: rotateY(180deg);
}

.matsau {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #898989;
    color: white;
    overflow: overlay;
    transform: rotateY(-180deg);
    transition: 0.6s;
}

.mattruoc {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
    transition: 0.6s;
    top: 0;
    left: 0;
}
.mattruoc .gioithieuruou{
	width: 100%;
	height: 80px;
}
.mattruoc .gioithieuruou p{
	bottom: 0;
	position: absolute;
	padding-left: 100px;
	font-size: 14px;
}

.matsau .tenruou{
	padding-top: 80px;
}
.bookingNow{
	width: 100%;
	height: 80vh;
	background: url(images/view1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.bookingNow .den{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
}
.bookingNow .booking{
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
}

.booking h1{
	font-size: 65px;
	padding-top: 250px;
}
.booking p, .booking a{
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.video{
	width: 100%;
	height: auto;
}
.video .video__clip{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	position: relative;
}
.video__clip video{
	width: 100%;
}
.video__clip .video__content{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 400px;
	padding-bottom: 20px;
}
.video__clip .video__content h1{
	text-transform: uppercase;
	color: white;
}
.video__clip .video__content span{
	color: white;
	font-size: 16px;
	display: block;
	margin-bottom: 50px;
}
.container .customer{
	position: relative;
	width: 100%;
	height: 350px;
	background: white;
	margin: 60px 0px;
}
.customer .customer__sliderbar{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.customer__sliderbar img{
	width: 250px;
	height: 300px;
	object-fit: cover;
}
.cocktail{
	width: 100%;
	height: 150vh;
	background: url(images/backgroundcocktail.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding-bottom: 120px;
}
.cocktail h1{
	font-family: 'Sancreek', cursive;
	font-size: 75px;
	color: white;
	padding: 60px 0px;
}
.cocktail .menuCocktail{
	position: relative;
	width: 550px;
	height: 850px;
	margin: 0 auto;
	perspective: 750px;
	border-right: 10px solid #A9A9A9;
	box-shadow: 0 0 15px 8px #000000a8;
}
.cocktail .menuCocktail .menuCocktail__detail{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #CFCFCF;
	overflow: hidden;
}
.menuCocktail__detail img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.menuCocktail__detail h4, .menuCocktail__detail span{
	color: black;
}
.cocktail .menuCocktail .menu__bia{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: url(images/icon.jpg);
	background-size: cover;
	object-fit: cover;
	transition: 1.5s;
	transform-origin: 0% 50%;
}
.menuCocktail:hover .menu__bia{
	background: black;
	transform: rotateY(-180deg);
	cursor: pointer;
}

.cover{
	width: 100%;
	height: 100vh;
	background: url(images/feedback1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.feedback{
	width: 100%;
	height: 600px;
	position: relative;
	background: url(images/feedbackbackground.jpg);
	background-size: cover;
}
.feedback h1{
	font-size: 75px;
	color: white;
	padding: 60px 0px;
	text-align: center;
}
.feedback .bo{
	width: 270px;
	height: 270px;
	position: relative;
	background-color: transparent;
}

.bo .tam1{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: url(images/feedback2.jpg);
	background-size: cover;
	object-fit: cover;
	border: 2px solid white;
}
.bo .tam2{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: url(images/feedback3.jpg);
	background-size: cover;
	object-fit: cover;
	transform: rotateZ(-25deg);
	transition: 0.5s;
	border: 2px solid white;
}
.bo .tam3{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background: url(images/feedback4.jpg);
	background-size: cover;
	object-fit: cover;
	transform: rotateZ(25deg);
	transition: 1s;
	border: 2px solid white;
}
.bo .tam4{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	background: url(images/feedback1.jpg);
	background-size: cover;
	object-fit: cover;
	transform: rotateZ(-50deg);
	transition: 2s;
	border: 2px solid white;
}
.bo:hover .tam2, .bo:hover .tam3,.bo:hover .tam4{
	transform: rotateZ(0deg);
} 
.bo:hover .tam2{
	transform: translateX(300px);
}
.bo:hover .tam3{
	transform: translateX(600px);
}
.bo:hover .tam4{
	transform: translateX(900px);
}

.footer{
	width: 100%;
	height: 300px;
	background: url(images/footer.jpg);
	background-size: cover;
}
.footer .footer__content{
	display: none;
}

/* This is CSS for mobile display*/
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 	*{
}

	.footer .footer__gray {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    background: gray;
	    opacity: 0.2;
	}

	.footer__content h1 {
	    font-size: 90px;
	    color: #fff9f7;
	}

	.footer .footer__content {
	    display: table-cell;
	    vertical-align: middle;
	    width: 100%;
	    height: 100%;
	}

	.cocktail {
	    background: url(images/moblieBooking.jpg);
	    background-size: cover;
	}
 	.footer{
 		width: 100%;
 		height: 100vh;
 		background: url(images/jesu.jpg);
 		background-size: cover;
 		display: table;
 		position: relative;
 	}
	.quotes {
	    height: 40rem;
	}

	.quotes p {
	    font-size: 11px;
	    text-align: justify;
	    word-spacing: 0px;
	}
	
	.quotes h2 {
	    font-size: 25px;
	}

	.bookingNow {
	    background: url(images/customer4.jpg);
	    background-size: cover;
	    position: relative;
	}

	.booking a {
	    display: none;
	}

	.booking p {
	    font-size: 13px;
	}

	.booking h1 {
	    font-size: 2rem;
	}

	.cocktail__item img {
	    width: 48%;
	    height: 50%;
	}
	.cocktail .menuCocktail {
	    width: 100%;
	    height: 80vh;
	}

	.video .video__content span, .video .video__content p {
	    display: none;
	}

	.video h1 {
	    font-size: 16px;
	}

	.video .video__content {
	    transform: translateY(-317px);
	}

	.wine {
	    position: relative;
	    width: 100%;
	    height: auto;
	    margin-top: 0px;
	}

	.bottleWine .matsau {
	    padding: 20px 25px;
	}

	.mattruoc .gioithieuruou p.loairuou {
	    font-size: 15px;
	    margin-left: 50px;
	}

	.mattruoc .gioithieuruou h3.tenruou {
	    font-size: 16px;
	}

	.mattruoc .gioithieuruou {
	    position: absolute;
	    transform: translateY(10px);
	    padding: 0px 3px;
	}

	.bottleWine .mattruoc img {
	    width: 100%;
	    height: 400px;
	}

	.listWine .motchairuou {
	    margin-bottom: 35px;
	}

	.listWine .bottleWine {
	    width: 100%;
	    height: 550px;
	}

	.wine ul li a {
	    background-color: #b7b7b7;
	    color: white;
	}

	.wine ul.pagination {
	    font-size: 8px;
	}

	.wine h1 i {
	    font-size: 70px;
	    margin: 0 auto;
	}

	.buynow a {padding: 10px 10px;margin-top: -20px;}

	.menuMain__item {
	    padding-top: 40px;
	}
 	
 	.menuMain__item .row{
 		margin: 0;
 		padding: 0;
 	}
 	.feedback, .gia1mon{
 		display: none;
 	}
	.note .sauces__list {
	    font-size: 15px;
	}

	.ten1mon p.tenmonta {
	    font-size: 11px;
	}

	.ten1mon h3.tenmon {
	    font-size: 13px;
	}

	.menu__mon h2, .menu__mon span {
	    padding-left: 20px;
	}

	.header {
	    background: url(images/mobiletopbackground.jpg);
	    /* background-size: cover; */
	    background-attachment: fixed;
	    position: relative;
	}

	.menu__mon .note {display: inline;}

	.motmon .anh1mon img {
	    width: 90px;
	    min-height: 110px;
	    padding-bottom: 20px;
	}

	.menu__mon {text-align: left;}

 	.menuMain__item .menu__anh, .customer, .cover, .feedback{
 		display: none;
 	}
	.best-seller {
	    background: url(images/mobilesteak.jpg);
	    background-size: cover;
	    object-fit: cover;
	    background-repeat: no-repeat;
	    height: 80rem;
	}
	.best-seller .best-seller__content {text-align: center;margin-left: -140px;}
	.header__text h1.tittle1 {
	    font-size: 70px;
	}

	.header__text h3 {
	    font-size: 65px;
	    padding-top: 70px;
	}

	.myNav .navbar-right a.datban {
	    margin-bottom: 25px;
	}

	a#menu1 {
	    font-size: 20px;
	}

	.myNav .nav li {
	    font-size: 20px;
	    text-align: center;
	    padding-bottom: 12px;
	    margin-left: 81px;
	}

	.myNav ul.dropdown-menu a {
	    margin-left: -93px;
	    margin-top: 5px;
	    background-color: #e2e2e2;
	}

	.myNav ul.dropdown-menu li {
	}

	a.navbar-brand 
	{margin-left: 130px;font-size: 18px;}

 }