$main-bg-color : #f5f5f5;
$seccond-bg-color :#2a3c52;

$color-0 : #fe3c00;
$color-1 : #222;

// Padding
$p-0: 4px;
$p-1: 8px;
$p-2: 12px;
$p-3: 16px;
$p-4: 20px;

// Margin
$m-0: 4px;
$m-1: 8px;
$m-2: 12px;
$m-3: 16px;
$m-4: 20px;
