* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  font-weight: 300;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button, button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.container-fluid, .container {
  padding: 0;
}

.container-fluid .row, .container .row {
  margin: 0 !important;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.coffee-btn {
  border: 1px solid #fff;
  color: #fff;
  padding: 16px 20px;
  display: inline-block;
  font-size: 1.6rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.coffee-btn:hover {
  background-color: #c49b63;
  color: #fff;
  border-color: #c49b63;
}

.coffee-btn.main-bg {
  border-color: #c49b63;
  background-color: #c49b63;
}

.coffee-btn.main-bg:hover {
  background-color: transparent;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  padding-top: 50px;
}

.section-title .coffee-title {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 5rem;
  line-height: 1;
  margin-bottom: -2rem;
}

.section-title p {
  margin-top: 20px;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 100;
}

.coffee-title {
  font-family: 'Great Vibes', cursive;
  color: #c49b63;
  font-size: 3rem;
}

.coffee-dark-title {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.py-1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-3 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.form-group {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
  font-size: 1.8rem;
}

.form-group input {
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 300;
}

.form-group input:focus + .label-name::after,
.form-group input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form-group label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form-group label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-group .content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-group input:focus + .label-name .content-name,
.form-group input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #fff;
}

.product-item {
  text-align: center;
  line-height: 1.3;
  font-size: 1.8rem;
}

.product-item .product-item__thumb {
  display: block;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-item .product-item__title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}

.product-item .product-item__title:hover {
  color: #c49b63;
}

.product-item .product-item__sub {
  color: rgba(255, 255, 255, 0.5);
}

.product-item .product-item__price {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 20px 0;
}

@media screen and (max-width: 991px) {
  .product-item {
    margin-bottom: 6.5rem;
  }
}

.btn-dark {
  color: #c49b63;
  border: 1px solid #c49b63;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 8px 12px;
}

.btn-dark:hover {
  background-color: #c49b63;
  color: #fff;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__content {
  padding: 20px 0;
}

.header__logo {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.header__logo small {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.header__navbar {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__navbar li {
  display: inline-block;
  padding: 4px 20px;
  position: relative;
}

.header__navbar li:last-child {
  padding-right: 0;
}

.header__navbar li.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: #c49b63;
  z-index: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header__navbar li.nav-link:hover::after {
  height: 110%;
}

.header__navbar li.nav-link a {
  position: relative;
  z-index: 1;
}

.toggle-menu {
  display: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.toggle-menu .icon {
  font-size: 2rem;
}

.toggle-menu .icon-cross {
  display: none;
}

.responsive-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 300px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: black;
  z-index: 100;
  color: #fff;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.responsive-menu .title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.responsive-menu .header__navbar {
  display: block;
  font-size: 2rem;
}

.responsive-menu .header__navbar li {
  display: block;
  margin-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  .header__navbar {
    display: none;
  }
  .toggle-menu {
    display: inline-block;
  }
}

@media screen and (max-width: 567px) {
  .header {
    padding: 0 15px;
  }
}

.main-slider__carousel {
  position: relative;
}

.main-slider__carousel .main-slider__item {
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-slider__carousel .main-slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.main-slider__carousel .main-slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.main-slider__carousel .main-slider__content h1 {
  margin: 20px 0;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

.main-slider__carousel .main-slider__content p {
  font-size: 2rem;
  font-weight: 300;
}

.main-slider__carousel .owl-dots {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-slider__carousel .owl-dots .owl-dot {
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 4px;
}

.main-slider__carousel .owl-dots .owl-dot.active {
  border-color: #c49b63;
}

.main-slider__carousel .owl-dots .owl-dot span {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 1px;
}

.main-slider__carousel .owl-dots .owl-dot.active span {
  background-color: #c49b63;
}

@media screen and (max-width: 1199px) {
  .main-slider__carousel .main-slider__content {
    width: 60%;
  }
}

@media screen and (max-width: 991px) {
  .main-slider__carousel .main-slider__content {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .main-slider__carousel .main-slider__content {
    width: 90%;
  }
}

@media screen and (max-width: 567px) {
  .main-slider__carousel .main-slider__content h1 {
    font-size: 2.8rem;
  }
}

.time-open {
  background-color: #000;
}

.time-open .time-open__content {
  position: relative;
}

.time-open .time-open__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.7rem;
  padding: 3rem 0;
}

.time-open .time-open__box span.icon {
  margin-right: 16px;
  font-size: 2rem;
  color: #c49b63;
}

.time-open .time-open__box span:not(.icon) {
  font-weight: 400;
}

.time-open .time-open__box p {
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}

.time-open .time-open__box.form {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #c49b63;
  width: 100%;
}

.time-open .time-open__box.form .contact__form {
  padding: 3rem 2.5rem;
}

.time-open .time-open__box.form .contact__form .form-group {
  font-size: 1.4rem;
}

.time-open .time-open__box.form h6 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.time-open .time-open__box.form button {
  background-color: #fff;
}

.time-open .time-open__box.form button:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .time-open {
    padding: 3rem 0;
  }
  .time-open div[class|="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  .time-open .time-open__box {
    padding: 1.5rem 3rem;
  }
  .time-open .time-open__box.form {
    position: initial !important;
  }
}

@media screen and (max-width: 567px) {
  .time-open .time-open__box {
    padding: 1.5rem;
  }
  .time-open .contact__form > div {
    display: block;
  }
  .time-open .contact__form .form-group {
    width: 100%;
  }
}

.our-story {
  background-image: url(./../../images/bg_4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-story .our-story--left {
  background-image: url(./../../images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-story .our-story__text {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: -100px;
  width: 100%;
  padding: 4rem;
  line-height: 1.5;
}

.our-story .our-story__text .section-title {
  text-align: left;
}

.our-story .our-story__text .section-title .coffee-title {
  left: 70px;
}

.our-story .our-story__text .section-title p {
  font-weight: 300;
  color: gray;
  text-align: justify;
}

@media screen and (max-width: 991px) {
  .our-story .our-story__text {
    margin-left: -50px;
  }
}

@media screen and (max-width: 767px) {
  .our-story .our-story--left {
    min-height: 500px;
  }
  .our-story .our-story__text {
    margin-left: 0px;
  }
}

@media screen and (max-width: 567px) {
  .our-story .our-story__text {
    padding: 0 1.5rem;
    background-color: transparent;
  }
}

.our-feature {
  background-color: #c49b63;
}

.our-feature__item {
  text-align: center;
  color: #000;
  line-height: 1.5;
}

.our-feature__item .our-feature__item--thumb {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #000;
  position: relative;
}

.our-feature__item .our-feature__item--thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-feature__item h6 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.our-feature__item p {
  display: inline-block;
  font-size: 2rem;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .our-feature__item {
    margin-bottom: 4rem;
  }
}

.parallax {
  min-height: 300px;
  background-image: url(./../../images/bg-5.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.parallax .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.our-menu {
  background-image: url(./../../images/bg_4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-menu .section-title {
  text-align: right;
}

.our-menu .section-title .coffee-title {
  right: 0;
  left: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.our-menu .section-title p {
  display: inline-block;
  width: 75%;
}

.our-menu .section-title button {
  padding: 20px 20px;
}

.our-menu .our-menu__grid .our-menu__grid--left {
  margin-right: 3rem;
}

.our-menu .our-menu__grid .our-menu__grid--right {
  margin-top: 3rem;
}

.our-menu .our-menu__grid .our-menu__grid--item {
  display: block;
  width: 255px;
  height: 200px;
  margin-bottom: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-menu .our-menu__grid .our-menu__grid--item img {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .our-menu .section-title {
    padding-top: 0;
  }
  .our-menu .section-title p {
    width: 90%;
  }
  .our-menu .our-menu__grid .our-menu__grid--item {
    width: 200px;
    height: 160px;
  }
}

@media screen and (max-width: 991px) {
  .our-menu .our-menu__grid .our-menu__grid--item {
    width: 150px;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .our-menu .section-title {
    text-align: left;
  }
  .our-menu .section-title p {
    width: 100%;
  }
  .our-menu .our-menu__grid {
    display: block;
  }
  .our-menu .our-menu__grid .our-menu__grid--item {
    width: 100%;
  }
  .our-menu .our-menu__grid .our-menu__grid--left {
    margin-right: 0;
  }
  .our-menu .our-menu__grid .our-menu__grid--right {
    margin-top: 3rem;
  }
}

.grid-image {
  background-color: #000;
}

.grid-image__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-image__item {
  display: block;
  height: 300px;
  position: relative;
}

.grid-image__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-image__item .square {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 50px;
  height: 50px;
  background-color: #c49b63;
  opacity: 0;
  -webkit-transition: opacity .4s .1s, -webkit-transform .6s;
  transition: opacity .4s .1s, -webkit-transform .6s;
  transition: transform .6s, opacity .4s .1s;
  transition: transform .6s, opacity .4s .1s, -webkit-transform .6s;
}

.grid-image__item:hover .square {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
  opacity: 1;
}

.grid-image__item span.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1.8rem;
}

.grid-image__item:hover span.icon {
  -webkit-transition: opacity .4s .2s;
  transition: opacity .4s .2s;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .grid-image__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 399px) {
  .grid-image__content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.our-product {
  background-image: url(./../../images/bg_4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-product .our-product__nav--item {
  font-size: 2rem;
  padding: 12px 16px;
  margin: 0 4px;
  color: #c49b63;
  cursor: pointer;
  font-weight: 400;
  border-bottom: 1px solid #c49b63;
}

.our-product .our-product__nav--item.active {
  background-color: #c49b63;
  color: #000;
}

.our-product .our-product__nav--item:hover {
  background-color: #c49b63;
  color: #000;
}

.customer-say {
  background-image: url(./../../images/bg_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.customer-say * {
  position: relative;
  z-index: 1;
}

.customer-say .overlay::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 0;
  opacity: .5;
}

.customer-say .section-title {
  margin: 75px 0;
}

.customer-say .customer-say__item {
  background-color: #c49b63;
  padding: 20px;
  font-size: 1.8rem;
  line-height: 1.5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.customer-say .customer-say__item.overlay::after {
  opacity: .1;
}

.customer-say .customer-say__info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.customer-say .customer-say__info p {
  line-height: 1;
  font-weight: 400;
}

.customer-say .customer-say__info span {
  font-size: 1.4rem;
}

.blog {
  background-image: url(./../../images/bg_4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog .container-fluid {
  padding: 0 3rem !important;
}

.blog .blog__thumb img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog__text {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}

.blog .blog__text .blog__time span {
  margin-right: 4px;
}

.blog .blog__text .blog__time span.icon {
  margin-right: 2px;
}

.blog .blog__text .blog__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.blog .blog__text .blog__title:hover {
  color: #c49b63;
}

.blog .blog__text .blog__desc {
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .blog__item {
    margin-bottom: 6.5rem;
  }
}

.contact__content {
  background-color: #000;
}

.contact__content div[class*='col'] {
  padding: 0;
}

.contact__content iframe {
  width: 100%;
}

.contact__form {
  padding: 0 75px;
}

.contact__form h6 {
  font-size: 3rem;
}

.contact__form .form-group {
  width: 45%;
}

.contact__form button {
  background-color: #c49b63;
  border-color: #c49b63;
  color: #000;
  min-width: 180px;
}

.contact__form button:hover {
  background-color: transparent;
  color: #c49b63;
  border-color: #c49b63;
}

@media screen and (max-width: 991px) {
  .contact__form {
    padding: 5rem 4rem;
  }
}

@media screen and (max-width: 567px) {
  .contact__form {
    padding: 3rem;
  }
  .contact__form > div {
    display: block;
  }
  .contact__form .form-group {
    width: 100%;
  }
}

.footer {
  background-color: #120f0f;
  padding: 7rem 0;
}

.footer a:hover {
  color: #c49b63;
}

.footer .copyright {
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}

.footer .container-fluid {
  padding: 0 3rem !important;
}

.footer__content .widget {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.footer__content .widget h6 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.footer__content .widget li {
  margin-bottom: 12px;
}

.footer__content .widget li .icon {
  font-size: 2.2rem;
  margin-right: 12px;
}

.footer__content .social-icon a {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 55px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 8px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__content .social-icon a:hover {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.footer__content .social-icon a.facebook:hover {
  background-color: #3b5999;
}

.footer__content .social-icon a.twitter:hover {
  background-color: #55acee;
}

.footer__content .social-icon a.instagram:hover {
  background-color: #e4405f;
}

.footer__content .blog-wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__content .blog-wrap img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.footer__content .blog-wrap__text a {
  font-size: 1.8rem;
  line-height: 1.2;
}

.footer__content .blog-wrap__time {
  color: gray;
  font-size: 1.4rem;
}

.footer__content .blog-wrap__time > div {
  display: inline;
}

@media screen and (max-width: 567px) {
  .footer .container-fluid {
    padding: 0 1.5rem !important;
  }
}

@media screen and (max-width: 399px) {
  .footer .container-fluid {
    padding: 0 0.5rem !important;
  }
}
/*# sourceMappingURL=main.css.map */