* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  background-color: #f5f5f5;
  font-size: 10px;
  color: #666;
  line-height: 1.3;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

input:focus,
input,
button,
button:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  color: #fff;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.d-flex-between {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 94%;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 10px;
}

.title-box .sub-title {
  color: #222;
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 20px;
}

.title-box .line-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3px;
  background-color: #eee;
  position: relative;
}

.title-box .line-title::before {
  content: '';
  display: inline-block;
  width: 75px;
  height: 3px;
  background-color: #fe3c00;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-nav button {
  color: #f5f5f5 !important;
  width: 30px;
  height: 30px;
  border-radius: 0 !important;
  background-color: #757b8d !important;
}

.owl-nav button:hover {
  background-color: #fe3c00 !important;
}

.owl-nav button span {
  display: none;
}

.owl-nav button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
}

.owl-nav button.owl-prev::before {
  content: "\f053";
}

.owl-nav button.owl-next::before {
  content: "\f054";
}

.wrap-slide-box .owl-nav button {
  position: absolute;
  top: -50px;
}

.wrap-slide-box .owl-nav button.owl-prev {
  right: 40px;
}

.wrap-slide-box .owl-nav button.owl-next {
  right: 0;
}

.header {
  font-size: 1.35rem;
}

.header p {
  margin: 0;
}

.header span[class^="icon"]::before,
.header span[class^="icon"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.75rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .icon-sortdown::after {
  content: "\f0dd";
  top: 37%;
  right: 0;
}

.header .icon-phone::before {
  content: "\f87b";
  font-size: 1.5rem !important;
  top: 50%;
  left: 0;
}

.header div[class$="wrapper"] {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.header__top a {
  color: #fe3c00;
  border-bottom: 1px dashed #fe3c00;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.header__top a:hover {
  border-color: transparent;
}

.header__top .icon-phone {
  position: relative;
  padding-left: 16px;
}

.header__top .icon-sortdown {
  position: relative;
  padding-right: 16px;
}

.header__top .currency-wrapper {
  padding: 8px 16px !important;
  position: relative;
}

.header__top .currency-wrapper::before, .header__top .currency-wrapper::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 70%;
  background-color: #dcdcdc;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__top .currency-wrapper::before {
  left: 0;
}

.header__top .currency-wrapper::after {
  right: 0;
}

.header__top .currency-wrapper:hover > .currency-popup {
  display: block;
}

.header__top .language-wrapper {
  position: relative;
  padding: 8px 16px !important;
}

.header__top .language-wrapper .language-box {
  position: relative;
  padding-left: 20px;
}

.header__top .language-wrapper .language-box img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__top .language-wrapper:hover > .language-popup {
  display: block;
}

.header__top div[class$="popup"] {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 155px;
  background-color: #fff;
  padding: 8px 12px 0 12px;
  z-index: 10;
}

.header__top div[class$="popup"] li[class$="option"] {
  margin-bottom: 4px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top div[class$="popup"] li[class$="option"] img {
  margin-right: 4px;
}

.header__top div[class$="popup"] li[class$="option"]:hover {
  border-color: #fe3c00;
}

.header__middle {
  background-color: #2a3c52;
}

.header__middle div[class$="wrapper"] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__middle .select-wrapper {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-width: 185px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__middle .select-wrapper .select-result {
  display: block;
  position: relative;
}

.header__middle .select-wrapper .icon-sortdown::after {
  font-weight: 600;
}

.header__middle .form-wrapper {
  background-color: #fff;
  margin-left: -4px;
  border-left: 1px solid #d6d6d6;
  width: calc(100% - 185px);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
}

.header__middle .form-wrapper input {
  width: calc(100% - 60px);
}

.header__middle .form-wrapper .btn-search {
  background-color: #fe3c00;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 55px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 50%;
  right: -1px;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
}

.header__middle .customer-wrapper {
  color: #fff;
}

.header__middle .customer-wrapper .link-customer-icon {
  padding-left: 42px !important;
}

.header__middle .customer-wrapper .link-customer-icon::before {
  width: 28px;
  background: url(./../../images/icon-image.png) no-repeat -18px -16px;
}

.header__middle .customer-wrapper .compare-customer-icon::before {
  width: 34px;
  background: url(../images/icon-image.png) no-repeat -72px -16px;
}

.header__middle .customer-wrapper .cart-customer-icon {
  padding-left: 49px !important;
}

.header__middle .customer-wrapper .cart-customer-icon::before {
  width: 35px;
  background: url(../images/icon-image.png) no-repeat -124px -16px;
}

.header__middle .customer-wrapper div[class$="customer-icon"] {
  position: relative;
  padding-left: 48px;
}

.header__middle .customer-wrapper div[class$="customer-icon"]::before {
  content: "";
  display: block;
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
}

.header__middle .customer-wrapper a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.header__middle .customer-wrapper a:hover {
  color: #fe3c00;
}

.header__bottom {
  color: #fff;
  background-color: #2a3c52;
}

.header__bottom .deliver-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 32px !important;
  width: 80%;
}

.header__bottom .deliver-wrapper .deliver {
  display: block;
  line-height: 1;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.header__bottom .deliver-wrapper .deliver::before {
  content: "";
  display: block;
  width: 16px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/icon-image.png) no-repeat -24px -81px;
}

.header__bottom .nav-wrapper {
  font-size: 1.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__bottom .vertical-menu {
  margin-right: 60px;
}

.header__bottom .vertical-menu .icon-sortdown {
  display: block;
  min-width: 90px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.header__bottom .vertical-menu .icon-sortdown:hover {
  color: #fe3c00;
}

.header__bottom .horizontal-menu li {
  display: inline-block;
  -webkit-transition: color .5s;
  transition: color .5s;
  margin: 0 20px;
}

.header__bottom .horizontal-menu li:hover {
  color: #fe3c00;
}

.header__bottom .horizontal-menu li.active {
  color: #fe3c00;
}

.main-slide__carousel {
  position: relative;
}

.main-slide__carousel .owl-nav {
  display: none !important;
}

.main-slide__carousel .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 50px;
  background-color: #2a3c52 !important;
}

.main-slide__carousel .owl-nav button:hover {
  background-color: #fe3c00 !important;
}

.main-slide__carousel .owl-nav button::before {
  font-size: 2.2rem;
}

.main-slide__carousel .owl-nav button.owl-prev {
  left: 15px;
}

.main-slide__carousel .owl-nav button.owl-next {
  right: 15px;
}

.main-slide__carousel:hover .owl-nav {
  display: block !important;
}

.main-slide__carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-slide__carousel .owl-dots .owl-dot span {
  background-color: #666 !important;
}

.main-slide__carousel .owl-dots .owl-dot:hover span {
  background-color: #fe3c00 !important;
}

.main-slide__carousel .owl-dots .owl-dot.active span {
  background-color: #fe3c00 !important;
}

.banner {
  margin-top: 40px;
}

.banner__box {
  position: relative;
}

.banner__box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.banner__box:hover::before {
  background-color: transparent;
}

.banner__box img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-banner__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2.5fr 2fr;
      grid-template-columns: 2fr 2.5fr 2fr;
  -ms-grid-rows: 224px 224px;
      grid-template-rows: 224px 224px;
  gap: 20px;
}

.grid-banner__content .grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
}

.grid-banner__content .grid-last-item {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.post__item {
  color: #666;
  line-height: 1.5;
}

.post__item .post__item--thumb {
  position: relative;
}

.post__item .post__item--thumb:hover {
  opacity: .8;
}

.post__item .post__item--thumb .post__item--time {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fe3c00;
  color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  z-index: 1;
}

.post__item .post__item--thumb .post__item--time::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: #fe3c00;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  -webkit-transform: rotate(-90deg) translateX(-15px);
          transform: rotate(-90deg) translateX(-15px);
  z-index: -1;
}

.post__item .post__item--thumb .post__item--time .date {
  font-size: 1.7rem;
  display: block;
  font-weight: bold;
}

.post__item .post__item--title {
  color: #222;
  font-size: 1.7rem;
  display: block;
  max-width: 95%;
  font-weight: 400;
  line-height: 1.2;
  margin: 12px 0 8px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.post__item .post__item--title:hover {
  color: #fe3c00;
}

.post__item .post__item--sub {
  display: block;
  display: -webkit-box;
  max-width: 95%;
  font-size: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__item .post__item--link {
  font-size: 1.8rem;
  display: inline-block;
  color: #fe3c00;
  position: relative;
  padding: 4px 12px 0;
}

.post__item .post__item--link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #fe3c00;
  z-index: -1;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.post__item .post__item--link:hover::after {
  height: 100%;
}

.post__item .post__item--link:hover {
  color: #fff;
}

.footer {
  margin-top: 50px;
}

.footer__top .back-to-top {
  text-transform: uppercase;
  color: #fff;
  background-color: #fe3c00;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px 0;
  display: block;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.footer__top .back-to-top:hover {
  background-color: #cb3000;
}

.footer__top .back-to-top::before {
  content: "";
  display: inline-block;
  background: url(./../../images/icon-image.png) no-repeat -372px -27px;
  width: 11px;
  height: 15px;
  margin-right: 20px;
}

.footer__top .back-to-top::after {
  content: "";
  display: inline-block;
  background: url(./../../images/icon-image.png) no-repeat -372px -27px;
  width: 11px;
  height: 15px;
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */