.shopee-btn{
    background-color: $color-0;
    color: #fff;
    padding: $p-2 $p-4;
    font-size: 1.6rem;

    border: 1px solid $color-0;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px;
    min-width: 120px;

    &:hover{
        background-color: #fff;
        color: $color-0;
    }
}