.title-box {
    display: flex;
    align-items: center;
    margin: 40px 0;

    .sub-title {
        color: $color-1;
        font-size: 2.8rem;
        text-transform: capitalize;
        font-weight: 600;

        margin-right: $m-4;
    }

    .line-title {
        flex-grow: 1;
        height: 3px;
        background-color: #eee;
        position: relative;

        &::before{
            content: '';
            display: inline-block;
            width: 75px;
            height: 3px;

            background-color: $color-0;
            position: absolute;
            top: 50%;
            left: 0;

            transform: translateY(-50%);
        }
    }

    
}
