
.animate.form-group{
    position: relative;
    height: 50px;
    overflow: hidden;

    font-size: 1.5rem;

    input{
        height: 100%;
        width: 100%;
        color: #fff;
        padding-top: 20px;
    
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: 300;

        &:focus + .label-name::after,
        &:valid + .label-name::after{
            transform: translateX(0%);
        }
    }

    label{
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
    
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

        &::after{
            content: '';
            position: absolute;
            left: 0px;
            bottom: -2px;
        
            height: 100%;
            width: 100%;
            border-bottom: 2px solid rgba(255, 255, 255, .7);
            transform: translateX(-100%);
        
            transition: all .3s ease;
        }
    }

    .content-name{
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all .3s ease;
    }
    
    input:focus + .label-name .content-name,
    input:valid + .label-name .content-name{
        transform: translateY(-90%);
        font-size: 1.3rem;
        color: #fff;
    }
}

.normal.form-group{
    label{
        display: block;
        font-size: 1.5rem;
        margin-bottom: $distance-2;
        line-height: 1.5;
    }

    input, select{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, .1);
        padding: $distance-3 $distance-4;
        width: 100%;
        
        color: $text-main-color;
        font-size: 1.4rem;
        
        &:focus{
            border-color: $primary-bg;
        }
    }

    .radio-box{
        
        label{
            margin: 0;
            margin-right: $distance-4;
        }
        input{
            display: inline;
            width: auto;
            margin-right: $distance-0;
        }
    }

    option{
        background-color: transparent;
        color: #000;
    }

    button{
        background-color: $primary-bg;
        border: 1px solid $primary-bg;
        color: #000;
        font-size: 1.4rem;

        padding: $distance-4 3rem;
        width: 100%;

        &:hover{
            background-color: transparent;
            color: $text-primary-color;
        }

    }
}


@media screen and (max-width: 499px){
    .normal.form-group{
    
        .radio-box{
             display: block;
             label{
                 margin-bottom: 2rem;
             }
           
        }
    }
}
