.product-item{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 6.5rem;

    .product-item__thumb{
        display: block;
        height: 270px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .product-item__title{
        display: inline-block;
        letter-spacing: 1px;

        text-transform: uppercase;
        font-weight: 600;
        margin: $distance-4 0;
        font-size: 1.8rem;

        &:hover{
            color: $text-primary-color;
        }
    }

    .product-item__sub{
        color: rgba(255, 255, 255, .5);
    }

    .product-item__price{
        font-size: 2rem;
        font-weight: 400;
        margin: $distance-4 0;
    }

    button{
        padding: $distance-1 $distance-4;
    }
    
}