* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-bg-color;
    font-size: 10px;
    color: #666;
    line-height: 1.3;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

input:focus,
input,
button,
button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

button {
    cursor: pointer;
    color: #fff;
}

.ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.d-flex-between {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 94%;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}
